

<section id="billboard">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>

				@await Component.InvokeAsync("Slider")

				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>

			</div>
		</div>
	</div>

</section>

<section id="client-holder" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="logo-wrap">
					<div class="grid">
						<a href="~/assets/#"><img src="~/assets/images/client-image1.png" alt="client"></a>
						<a href="~/assets/#"><img src="~/assets/images/client-image2.png" alt="client"></a>
						<a href="~/assets/#"><img src="~/assets/images/client-image3.png" alt="client"></a>
						<a href="~/assets/#"><img src="~/assets/images/client-image4.png" alt="client"></a>
						<a href="~/assets/#"><img src="~/assets/images/client-image5.png" alt="client"></a>
					</div>
				</div><!--image-holder-->
			</div>
		</div>
	</div>
</section>

@await Component.InvokeAsync("Featured")

@await Component.InvokeAsync("BestSelling")

@await Component.InvokeAsync("Book")

<section id="quotation" class="align-center pb-5 mb-5">
	<div class="inner-content">
		<h2 class="section-title divider">Quote of the day</h2>
		<blockquote data-aos="fade-up">
			<q>
				“The more that you read, the more things you will know. The more that you learn, the more places
				you’ll go.”
			</q>
			<div class="author-name">Dr. Seuss</div>
		</blockquote>
	</div>
</section>

@await Component.InvokeAsync("Offer")

<section id="subscribe">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-8">
				<div class="row">

					<div class="col-md-6">

						<div class="title-element">
							<h2 class="section-title divider">Subscribe to our newsletter</h2>
						</div>

					</div>
					<div class="col-md-6">

						<div class="subscribe-content" data-aos="fade-up">
							<p>
								Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit
								adipiscing enim pharetra hac.
							</p>
							<form id="form">
								<input type="text" name="email" placeholder="Enter your email addresss here">
								<button class="btn-subscribe">
									<span>send</span>
									<i class="icon icon-send"></i>
								</button>
							</form>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</section>

@await Component.InvokeAsync("Article")

<section id="download-app" class="leaf-pattern-overlay">
	<div class="corner-pattern-overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="row">

					<div class="col-md-5">
						<figure>
							<img src="~/assets/images/device.png" alt="phone" class="single-image">
						</figure>
					</div>

					<div class="col-md-7">
						<div class="app-info">
							<h2 class="section-title divider">Download our app now !</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus
								liberolectus nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna.
								Adipiscing fames semper erat ac in suspendisse iaculis.
							</p>
							<div class="google-app">
								<img src="~/assets/images/google-play.jpg" alt="google play">
								<img src="~/assets/images/app-store.jpg" alt="app store">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
